body{
	background-color: #F0F8FF;
	font-size: 16px;
}


.td{
	
	color: white;
	text-align: center;
	
}

.col-sm-12 {
	/*background-color: blue;*/
	text-align: justify;

}

.col-sm-6 {
	
	text-align: justify;

}

.outracor {
	background-color: burlywood;
}

.col-sm-5 {
	background-color: chartreuse;



}

.col-sm-4 {
	

}



.barra-lateral{
	padding: 0px 10px;
}

.header {
	padding-left: 10px;
}

.btn {
	margin-top: 5px;
}

.meu-link:hover {
	text-decoration: none;
}

.form-select option {
	color: blue;
}

#img-logo {
	margin-top: -20px;"
}

ul li a{
	/*color: red;*/
}

.page-header {
background-color: #F8F8FF;
padding-top: 5px; 
padding-left: 5px; 
margin-top: 70px;

/* margin-top: 100px;*/


}

ul {
	list-style-type: square;
}


h3 {
	background: linear-gradient(to right, #003399 0%, #3399ff 100%);
	padding: 5px;
	color: white;
}

h1 {
	/*text-align: center;*/
}

section {
	background-color: #F8F8FF;
}

.sobre {
	padding: 10px;
	border-bottom: 5px solid #3399ff;

}


.duvidas {
	padding: 10px;
	font-size: 18px;
	/*border-bottom: 5px solid #3399ff;*/

}

/*#noticias-body{
	height: 1200px;
}*/

.glyphicon.glyphicon-earphone{
	font-size: 20px;
	margin-top: 15px;
	margin-left: 20px;
}

iframe {
	border-bottom: 5px solid #3399ff;
}

footer {

	padding: 30px 0px 10px 0px;
	background: linear-gradient(to right, #003399 0%, #3399ff 100%);
	color: white;
	
}

footer ul {
	list-style: none;

}

footer ul li {
	padding: 2px 2px;
}

footer ul li a {
	
	color: #F8F8FF;
	/*font-size: 10px;*/
	list-style: none;

}

footer ul li a:hover {
	
	color: #F8F8FF;
	/*font-size: 10px;*/
	list-style: none;


}

h1 #video-index {
	color: #F8F8FF;
	background-color: #F8F8FF;
	margin-top: -30px;
	padding-left: 10px;
}

.figure-parceiros {
	align-items: center;
}



